@model IEnumerable<GrowthHabit>

<div class="w-100 card border-0 p-0">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Growth Habit List</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-1 ">
        <div class="row pb-3">
            <div class="col-6 offset-6 text-end">
                <a asp-action="Create" class="btn btn-secondary m-3">
                    <i class="bi bi-plus-circle"></i> Create New Growth Habit
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Growth Habit</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var growthHabit in Model)
                    {
                        <tr>
                            <td>@growthHabit.Id</td>
                            <td>@growthHabit.Habit</td>
                            <td>
                                <div class="w-50 btn-group offset-3" role="group">
                                    <a asp-action="Update" asp-route-id="@growthHabit.Id" class="btn btn-success">
                                        <i class="bi bi-pencil-square"></i> Edit
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@growthHabit.Id" class="btn btn-danger">
                                        <i class="bi bi-trash-fill"></i> Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
